body {
    font-family: 'Spleen 6x12';
    background-color: #080008;
    color: white;
    margin-top: 50px;
    margin-left: 10%;
    font-size: x-large;
}

h1 {
    color: #767;
    text-shadow: 0px 0px 10px #767;
}

em {
    color: #8e8;
    text-shadow: 0 0 7px #8e8;
}

a {
    color: #98c;
    text-shadow: 0 0 7px #98c;
    text-decoration: none;
}

br {
    margin-bottom: 20px;
}

.div1 {
    flex: 1;
    float: left;
    width: 70%;
    align-content: center;
}

.div2 {
    flex: 2;
    float: left;
    width: 20%;
    align-content: center;
}

.colshift {
    color: #f00;
    text-shadow: 0 0 25px #f00;
    animation: hueShift 3s linear infinite;

}

/* 2. Create the keyframes that rotate the color wheel a full 360 degrees */
@keyframes hueShift {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}